
.span3.resource {
	margin-bottom: 25px;
}

/* tag css for the /resources/ page */
.label-design {
	background-color: #01DF3A;
}
.label-type {
	background-color: #01DFA5;
}
.label-html {
	background-color: #01DFD7;
}
.label-css {
	background-color: #01A9DB;
}
.label-js {
	background-color: #0174DF;
}
.label-server-side {
	background-color: #045FB4;
}
.label-databases {
	background-color: #08298A;
}
